ServerTokens OS
LoadModule php7_module modules/libphp-7.0.so
AddHandler php7-script php

<VirtualHost *:80>
   ServerName <%= @params[:server_name] %>.example.com
   DocumentRoot <%= @params[:docroot] %>

   <Directory <%= @params[:docroot] %>>
     Options FollowSymLinks
     AllowOverride All
   </Directory>

		ErrorLog <%= node[:apache][:log_dir] %>/<%= @params[:name] %>-error.log
		CustomLog <%= node[:apache][:log_dir] %>/<%= @params[:name] %>-access.log combined

Include <%= @params[:name] %>-envvars.conf
</VirtualHost>
